.header__primary {
  font-weight: 700;
  color: $color-grey-light-1;
  margin: 2rem 0;
  font-size: 4rem;
}
.header__secondary {
  font-size: 4.3rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: $color-primary;
  text-transform: uppercase;
}
.btn__primary {
  font-size: 1.6rem;
  outline: none;
  border: none;
  padding: 2rem;
  background-color: $color-primary;
  color: white;
  &:hover {
    background-color: $color-primary-dark;
  }
}
